body {
  color: $text-color;
  background-color: $bg-color;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.dnone {
  display: none!important;
}
